/************
*  GENERAL  *
*************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'andaluzia_personal_useregular';
    src: url('../fonts/andaluzia_personal_use-webfont.eot');
    src: url('../fonts/andaluzia_personal_use-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andaluzia_personal_use-webfont.woff2') format('woff2'),
         url('../fonts/andaluzia_personal_use-webfont.woff') format('woff'),
         url('../fonts/andaluzia_personal_use-webfont.ttf') format('truetype'),
         url('../fonts/andaluzia_personal_use-webfont.svg#andaluzia_personal_useregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: Roboto;
}

.btn-secondary{
    border-radius: 0%;
}

/*Header*/
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:0;
    margin-left:0
 }

 .row{
     margin-right: 0;
     padding-right: 0;
 }

header{
    width: 100%;
    z-index: 100;
    
}

.fila-superior{
    background: #000000;
}

.logo {
    margin-top: 10%;
    margin-left: 10%;    
}

.contacto-superior{
    padding-top: 2%;
    padding-left: 5%;
}
.contacto-superior a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: small;
    padding-right: 3%;
}
.contacto-superior a:hover{
    color:#DC9924;
}


nav{
    width: 100%;
    z-index: 100; 
    background: #000000;   
}

nav ul{
    list-style:none;
     background: #000000;
     overflow: hidden;
     color: #000000;
     padding: 0px;
     text-align: right;
     margin: 0;
     transition: 1s;
     box-shadow: 1px 10px 10px rgba(0, 0, 0, .5);
}

#small-logo{
    display: none;
    padding-top: 12px;
    margin-left: 4%;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    
}

nav ul li:not(:last-child){
    border-right: 1px solid #000000;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover{
    color: #DC9924;
    text-decoration: none;
}

.menu-icon{
    width: 100%;
    background: #2c2c2c;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color:#DC9924;
    display: none;
}

#menu-navegacion{
    text-align: center;
}

header .btn-secondary{
    color: #368a16;
    background: #000000;
    position: fixed;
    margin-left: 80%;
    margin-top: 5px;
    padding: 5px; 
}

header .btn-secondary:hover{
    color: #DC9924;
    background: #000000;
}
/*Fin del header*/

/*Contenido*/
.contenido{
    background-image: url("../images/obscuro.jpg");
    z-index: -1000;
}

.contenido .col-lg-8{
    padding: 0px;
}

.card a{
    background-color: #000000;
    border-radius: 0;
}

.card {
    border-radius: 0;
}

/************
*   INICIO  *
*************/

/*Slider*/
.zona-slider{
 margin-left: 30;
}

.carousel-caption{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}
.caption-main{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    
}

.sub-caption{
    margin-top: 20%;
    margin-left: 5%;
}

.sub-caption a{
    background-color: #000000;
}

.sub-caption a:hover{
    background-color: #BF9414;
    color: #2c2c2c;
}

.logo-main{
    margin-top:10%;
    margin-left: 60%;
}

/*Nosotros, Servicios, Galeria*/
.card .card-img-overlay .card-title{
    font-family: 'andaluzia_personal_useregular';
    color: #DC9924;
    font-size: 200%;
}

.card .card-img-overlay .card-title {
    margin-left: 2%;
    margin-top: 45%;
}
 .card .card-img-overlay a{
    background: #000000;
}

.card .card-img-overlay a:hover{
    background: #DC9924;
    color: #2c2c2c;
}

.card-img{
    filter: brightness(50%);
}


/*Contacto y ubicacion*/
.contacto-index .parrafo{
    background: #000000;
}

.contacto-index .row{
    padding: 0;
    margin: 0;
}

.contacto-index .row .col-lg-6{
    padding: 0;
    margin: 0;
}

.contacto-index h4{
    font-family: 'andaluzia_personal_useregular';
    color: #DC9924;
    text-align: center;
    padding: 5%;
    padding-bottom: 0%;
}

.contacto-index p{
    color: #ffffff;
    text-align: center;
    padding: 5%;
}

.contacto-index .parrafo{
    padding-bottom: 5%;
}

.contacto-index .contacto-inferior-index{
    padding: 10%;
}

.contacto-index .contacto-inferior-index a{
    display: block;
    padding: 2%;
    color: #ffffff;
}

.contacto-index .contacto-form form {
  padding: 5%;
}

.contacto-index .contacto-form label {
    color: #ffffff;
}

.contacto-index .contacto-inferior-index a:hover{
    color: #DC9924;
    text-decoration: none;
}

.contacto-index .contacto-form button{
    background: #DC9924;
    color: #000000;
}

.contacto-index .contacto-form button:hover{
    color: #DC9924;
    background: #000000;
}
/**************
*   NOSOTROS  *
***************/
.contenido .row{
    padding: 0;
    margin: 0;
}

.contenido .row .col-lg-12{
    padding: 0;
    margin: 0;
} 

 .nosotros-cuerpo .card .card-img-overlay .card-title {
    margin-left: 2%;
    margin-top: 40%;
}

.contenido .nosotros .nosotros-cuerpo .card .mb-3 .my-3{
    margin-bottom: 0rem;
}

.card-text .text-muted{
    color: #000000;
}

.contenido .nosotros .nosotros-cuerpo .card-title{
    font-family: 'andaluzia_personal_useregular';
    color: #DC9924;
}

.contenido .nosotros .nosotros-cuerpo .card-text{
    color: #ffffff;
}

.contenido .nosotros .contacto-inferior-nosotros{
    background: #000000;
    text-align: center;
    padding-top: 4%;
}

.contenido .nosotros .contacto-inferior-nosotros a{
    display: inline-block;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 0;
    padding-bottom: 5%;
    color: #ffffff;
}

.contenido .nosotros .contacto-inferior-nosotros a:hover{
   text-decoration: none;
   color: #DC9924;
}


/*************
*   PRECIOS Y SERVICIOS *
**************/
.servicios{
    background: #000000;
}

.servicios .servicios-encabezado{
    text-align: center;
}
.servicios h3{
    padding-top: 5%;
    font-family: 'andaluzia_personal_useregular';
    color: #DC9924;  
}

.servicios .servicios-intro {
    text-align: center;
}

.servicios .servicios-intro p{
    color: #ffffff;
    padding: 5%;
}

.servicios .servicios-intro a{
    color: #ffffff;
}

.servicios .servicios-intro a:hover{
    color: #DC9924;
    text-decoration: none;
}

.servicios .btn-secondary{
    color: #DC9924;
    background: #000000;
}

.servicios .btn-secondary:hover{
    color: #000000;
    background: #DC9924;
}

.servicios .precios{
    text-align: left;
}
.servicios .precios .card{
   background: #000000;
   border-style: solid;
   border-radius: 2%;;
   border-color: #DC9924;
   margin-top: 2%;
}

.servicios .precios .card img{
    border-radius: 5%;
}

.servicios .precios .card .card-title{
    font-family: 'andaluzia_personal_useregular';
    color: #DC9924; 
}

.servicios .precios .card .card-text{
    color: #ffffff;
}

.servicios .precios .card .list-group-item{
    background: #000000;
    color: #ffffff;
}

.servicios .precios .card .list-group-item .item-servicio-encabezado .nombre-servicio{
   display: inline-block;
}

.servicios .precios .card .list-group-item .item-servicio-encabezado .precio-servicio{
    float: right;
    font-size: 150%; 
    display: inline-block;
 }

 .servicios .precios .card .list-group-item  .servicio-descripcion{
    font-size: 90%;
    color: #d3cbcb;
    display: block;
 }
.servicios .precios .card .list-group-item .fa-dollar{
    color: #DC9924;
}

.servicios .servicio-completo{
    text-align: center;
    padding: 5%;
}

.servicios .servicio-completo h4{
    font-family: 'andaluzia_personal_useregular';
    color: #DC9924;
    display: block;
}

.servicios .servicio-completo h5{
    color: #ffffff;
    display: block;
}

.servicios .servicio-completo p{
    color: #ffffff;
    display: block;
}

.servicios .servicio-completo .contacto-inferior-servicios{
    background: #000000;
    text-align: center;
    padding-top: 5%;
}

.servicios .servicio-completo .contacto-inferior-servicios a{
    display: inline-block;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 0;
    padding-bottom: 5%;
    color: #ffffff;
}

.servicios .servicio-completo .contacto-inferior-servicios a:hover{
   text-decoration: none;
   color: #DC9924;
}



/****************
*   GALERIA  *
*****************/
.galeria{
    background: #000000;
    text-align: center;
    padding-bottom: 5%;
}
.galeria h3{
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'andaluzia_personal_useregular';
    color: #DC9924; 
}

.galeria .row{
    padding-top:1%;
  
  }

.galeria .img-thumbnail{
    padding: .10rem;
}

.galeria .portada .img-thumbnail{
   padding: .10rem;
   width: 95%;
}

.galeria .contacto-inferior{
    padding: 10%;
}

.galeria .contacto-inferior a{
    padding-left: 3%;
    color: #ffffff;
}
.galeria .contacto-inferior a:hover{
   text-decoration: none;
   color: #DC9924;
}
/****************
*   CONTACTO  *
*****************/
.contenido .contacto{
    background-color: #000000;
    text-align: center;
    padding-top: 5%;
}

.contacto h3{
    font-family: 'andaluzia_personal_useregular';
    color: #DC9924;
}

.contacto .img-logo{
    margin-bottom: 2%;
    margin-top: 2%;
}

.contacto .card .card-img-overlay .card-text{
    margin-top: 50%;
}

.contacto .contacto-contenido img{
    padding: 5%;
}

.contacto .contacto-contenido p{
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    color: #ffffff;
}

.contacto .contacto-contacto{
    padding: 5%;
    text-align: left;
}

.contacto .contacto-contacto .contacto-redes a{
    display: block;
    color: #ffffff;
    padding: 3%;
}

.contacto .contacto-contacto .contacto-redes a:hover{
   text-decoration: none;
    color: #DC9924;
}

.contacto .contacto-contacto .contacto-form{
    color: #d3cbcb;
}

.contacto .contacto-contacto .contacto-form .btn-secondary{
   background: #2c2c2c;
}

.contacto .contacto-contacto .contacto-form .btn-secondary:hover{
    background: #DC9924;
    color: #2c2c2c;
 }

/*Footer*/
footer{
    background-color:  #000000;
    color: #ffffff;
    padding: 10px;
}

footer a{
    color: #ffffff;
}
footer a:hover{
    color: #DC9924;
    text-decoration: none;
}

@media(max-width:580px){
    .logo{
        top:0;
        margin-top: 16px;
        padding: 5;
        margin: 5;
    }

    header .btn-secondary{
        position: fixed;
        margin-left: 70%;
        margin-top: 15px; 
    }
    nav{
        z-index: 100;
        padding: 0;
    }

    nav ul{
        max-height: 0px;
        
        background: #000000;;
    }

    .showing{
        max-height: 30em;
    }
    
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
        
    }

    nav ul li:not(:last-child){
        border-right: 1px solid #DC9924;
    }

    .menu-icon{
        display: inline-block;
        background-color: #000000;
    }

    .contacto-superior{
        padding-left: 10%;
    }

    .logo{
        padding-left: 15%;
    }

    .sub-caption{
        margin-top: 30%;
        margin-left: 0%;
    }

    .card .card-img-overlay .card-title {
        margin-left: 2%;
        margin-top: 5%;
        font-size: 110%;
    }

    .card .card-img-overlay .card-text{
        font-size: 80%;
    }

    .nosotros-cuerpo .card .card-img-overlay{
        padding : 5%;
    }

    .nosotros-cuerpo .card .card-img-overlay .card-title {
        margin-left: 2%;
        margin-top: 0%;
        font-size: 50%;
    }

    .nosotros-cuerpo .card .card-img-overlay .card-text {
     font-size: 50%;
    }

    .contacto .card .card-img-overlay .card-text{
        margin-top: 30%;
        font-size: 60%;
    }
}



@media(max-width: 768px){
    .logo{
        padding-top: 5%;
        padding-left: 20%;
        margin: 0;
    }

    .card .card-img-overlay .card-title {
        margin-left: 2%;
        margin-top: 15%;
    }

    .nosotros-cuerpo .card .card-img-overlay .card-title {
        margin-left: 2%;
        margin-top: 0%;
        font-size: 50%;
    }

}

@media(max-width: 992px){
    .contacto-superior a{
        display: block;
    }

    .nosotros-cuerpo .card .card-img-overlay .card-title {
        margin-left: 2%;
        margin-top: 5%;
        font-size: 150%;
    }
}

